*{
 margin: 0;
}

body {
 font-family: Arial, Helvetica, sans-serif;
}

.boek{ 
 display: flex;
 flex-flow: column wrap;
 width: 750px;
 height: 380px;
 padding: 3em;
} .boek__cover{
 padding-right: 3rem;
 width: 350px;
 object-fit: cover;
}

.boek__kopje{
  font-size: 1.5em;
  margin-top: 0;
  color: green;

}
.boek__paginas::after, .boek__uitgave::after, .boek__ean::after{ 
 content: " | ";
} 

.boek__prijs{
 font-size: 1.5em;
 color:green;
}

.boek__boekInformatieTotaal{
 max-width: 300px;
}

