body {
 background-color: green;
 font-family: Arial, Helvetica, sans-serif;
}

.boek{ 
 padding: 1em;
 clear: left;
}.boek__cover{
 float:left;
 padding-right: 3rem;
 max-width: 300px;
 object-fit: contain;
}
