*{
 margin: 0;
}
/*
@media voor kleine beeldscherm
flex-flow: row wrap, small
else
 current*/

body {
 font-family: Arial, Helvetica, sans-serif;
}

.boek{ 
 display: flex;
 flex-direction: row;
 width: 300px;
 height: 380px;
 height: 380px;
 padding: 3em;
} 

.boek__cover{
 margin-right: 3rem;
 min-width: 300px;
}

.boek__kopje{
  font-size: 1.5em;
  margin-top: 0;
  color: green;

}
.boek__paginas::after, .boek__uitgave::after, .boek__ean::after{ 
 content: " | ";
} 

.boek__prijs{
 font-size: 1.5em;
 color:green;
}

.boek__boekInformatieTotaal{
 max-width: 300px;
}

.buttonBetaal{
 width: 75px;
 height: 75px;
 border-radius: 15px;
 margin-left: 10px;
 margin-top: 10px;
}